<mat-toolbar color="primary">
  <span class="mat-primary"><a [routerLink]="'/map'">My Real Estate App</a></span>

    <!-- Навігаційні кнопки -->
    <span class="spacer"></span>
    <ng-container>
        <button mat-button routerLink="/estates" routerLinkActive="active-link">Estates</button>
        <button mat-button routerLink="/clients" routerLinkActive="active-link">Clients</button>
    </ng-container>

  <span class="spacer"></span>
  <!-- Якщо користувач авторизований, відображаємо меню профілю -->
  <ng-container *ngIf="authService.isAuthenticated()">
    <button class="mat-primary " mat-button [matMenuTriggerFor]="profileMenu">
      {{ authService.getUserName() }}
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="openCurrenciesDialog()">Currencies</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ng-container>

  <!-- Якщо користувач не авторизований -->
  <ng-container *ngIf="!authService.isAuthenticated()">
    <button mat-button routerLink="/login">Login</button>
  </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
