<h2 mat-dialog-title style="padding: 0 10px;">Choose Currency</h2>

<div class="dialog-content">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Currency</mat-label>
    <mat-select [(ngModel)]="selectedCurrency">
      <mat-option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="dialog-actions">
  <button mat-raised-button color="accent" (click)="close()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="save()">Save</button>
</div>
